.border {
    display: flex;
    justify-content: center;

    .buttonBox {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-height: 250px;
        background-color: rgb(66, 66, 66);
        border: 2px black solid;
        border-radius: 5%;
        min-width: 150px;

        .red {
            border-radius: 50%;
            min-height: 70px;
            min-width: 70px;
            background-color: red;
            border: none;
        }

        .yellow {
            border-radius: 50%;
            min-height: 70px;
            min-width: 70px;
            background-color: yellow;
            border: none;
        }

        .green {
            border-radius: 50%;
            min-height: 70px;
            min-width: 70px;
            background-color: lime;
            border: none;
        }
    }
}

.redBackground {
    transition: 1s;
    background-color: red;
}

.yellowBackground {
    transition: 1s;
    background-color: yellow;
}

.greenBackground {
    transition: 1s;
    background-color: lime;
}