$text_white: #FFF;
$text_black: #000;
$text_gray: #5C5C5C;
$text: 17px;
$mini_title: 20px;
$title: 52px;
$big_title: 80px;
$button_purple: #4452FE;
$button_border: 1px solid #FFF;
$coment_border: 1px solid #DEDEDE;
$coment_box: 1px solid #D3D3D3;
$body_color: #181818;
$box_background: #343434;